<section class="header-wrapper">
  <div class="brand">
    <svg viewBox="0 0 900 130">
      <text y="90%" text-anchor="right" class="happy-title">
        SS
      </text>
    </svg>
  </div>
  <nav class="main-nav">
    <a mat-button routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
    <a mat-button routerLink="/tasks" routerLinkActive="active">
      <mat-icon>checklist</mat-icon>
      Tasks
    </a>
    <a mat-button routerLink="/account" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
      Account
    </a>
    @if (authService.canManage()) {
      <a mat-button routerLink="/manage" routerLinkActive="active">
        <mat-icon>admin_panel_settings</mat-icon>
        Manage
      </a>
    }
  </nav>
  <button mat-stroked-button (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</section>
