.header-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

svg{
  width: clamp(20rem, 100px, 100%);
  max-height: 100%;
  font-weight: 700;
  text {
    font-size: 10rem;
    stroke-width: 2;
    &.happy-title {
      stroke: var(--primary-color);
      stroke-width: 2;
      animation: animate-stroke 3s forwards;
    }

  }
}

h1{
  text-transform: uppercase;
  color: var(--text-color);
  margin: 0;
}


@keyframes animate-stroke {
  0%{
    fill: transparent;
    stroke: var(--primary-color);
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }
  50%{
    fill: transparent;
    stroke: var(--primary-color);
    stroke-width: 3;
  }
  70%,
  100%{
    fill: var(--primary-color);
    //stroke: transparent;
    stroke: rgba(255, 255, 255, .25);
    stroke-width: 1;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}
