<div class="page-wrapper">
  <div class="video">
    <video src="../../assets/login-video.mp4" autoplay loop></video>
  </div>
  <section class="content-wrapper">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6">
        <div class="logo-wrapper">
          <div>
            <svg viewBox="0 0 500 130">
              <text x="50%" y="50%" dy="2.32rem" dx="-1.5rem" text-anchor="middle" class="happy-title">
                ShelfSync
              </text>
            </svg>
            <h2>
              Inventory management made simple.
            </h2>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <div class="login-wrapper">
          <form [formGroup]="form" (ngSubmit)="attemptLogin()">
            <mat-form-field appearance="outline" class="mb-3">
              <mat-icon matPrefix>person</mat-icon>
              <input matInput placeholder="Email" type="email" formControlName="email" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="mb-3">
              <mat-icon matPrefix>lock</mat-icon>
              <input matInput placeholder="Password" type="password" formControlName="password" />
            </mat-form-field>
            @if (errorMessage) {
              <p class="error-message">{{ errorMessage }}</p>
            }
            <button
                mat-flat-button
                color="primary"
                type="submit"
                [disabled]="form.invalid || isLoading"
                >
                @if (isLoading) {
                  <mat-spinner diameter="20"></mat-spinner>
                } @else {
                  <ng-container>
                    <mat-icon>login</mat-icon>
                    Login
                  </ng-container>
                }
            </button>
            <p class="switch-link">
              Don't have an account? <a [routerLink]="['/register']">Sign up</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
