<p-dialog header="{{ item?.name }}" [modal]="true" [(visible)]="display" (onHide)="closeModal()">
  <!-- <p>{{item.id}}</p>
  <p class="item-description">{{item.description}}</p>-->
  <p-table [value]="[{}]" styleClass="p-datatable-gridlines mb-4 mt-4">
    <ng-template pTemplate="body">
      <tr>
        <th colspan="3">
          <div>
            <i class="pi pi-box me-2" style="font-size: 1.25rem"></i>
            General information
          </div>
        </th>
      </tr>
      <tr>
        <td colspan="3">
          <strong>Description:</strong>
          {{item?.description}}
        </td>
      </tr>
      <tr>
        <td width="33%">
          <strong>Asset ID:</strong>{{item?.id}}
        </td>
        <td width="33%">
          <strong>Category:</strong> {{item?.category}}
        </td>
        <td width="33%">
          <strong>Applicable year:</strong> {{item?.applicableYear}}
        </td>
      </tr>
      <tr>
        <td width="33%">
          <strong>Expiration date:</strong> {{item?.expirationDate}}
        </td>
        <td width="33%">
          <strong>Physical location:</strong> {{item?.physicalLocation}}
        </td>
        <td width="33%">
          <strong>Digital location:</strong> {{item?.digitalLocation}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-table [value]="[{}]" styleClass="p-datatable-gridlines mb-4">
    <ng-template pTemplate="body">
      <tr>
        <th colspan="3">
          <i class="pi pi-calculator me-2" style="font-size: 1.25rem"></i>
          Quantity information
        </th>
      </tr>
      <tr>
        <td width="33%">
          <strong>Total (# of items):</strong> {{item?.quantityTotal}}
        </td>
        <td width="33%">
          <strong>Allocated:</strong> {{item?.quantityAllocated}}
        </td>
        <td width="33%">
          <strong>Reimaining:</strong> {{item?.quantityRemaining}}
        </td>
      </tr>
      <tr>
        <td>
          <strong>Items per container:</strong> {{item?.quantityPerContainer}}
        </td>
        <td>
          <strong>Low quantity threshold:</strong> {{item?.lowQuantityThreshold}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-table [value]="[{}]" styleClass="p-datatable-gridlines mb-4">
    <ng-template pTemplate="body">
      <tr>
        <th colspan="3">
          <i class="pi pi-shopping-cart me-2" style="font-size: 1.25rem"></i>
          Supplier information
        </th>
      </tr>
      <tr>
        <td width="33%">
          <strong>Name:</strong> {{item?.supplierName}}
        </td>
        <td width="33%">
          <strong>Lead time:</strong> {{item?.supplierLeadTime}}
        </td>
        <td width="33%">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <strong>Order link:</strong> {{item?.orderLink}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-table [value]="[{}]" styleClass="p-datatable-gridlines mb-4">
    <ng-template pTemplate="body">
      <tr>
        <th colspan="3">
          <i class="pi pi-tag me-2" style="font-size: 1.25rem"></i>
          Price information
        </th>
      </tr>
      <tr>
        <td width="33%">
          <strong>Price per unit:</strong> {{item?.pricePerUnit}}
        </td>
        <td width="33%">
          <strong>Price per container:</strong> {{item?.pricePerContainer}}
        </td>
        <td width="33%">&nbsp;</td>
      </tr>
    </ng-template>
  </p-table>
  <p-table [value]="[{}]" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="body">
      <tr>
        <th colspan="3">
          <i class="pi pi-info-circle me-2" style="font-size: 1.25rem"></i>
          Other information
        </th>
      </tr>
      <tr>
        <td width="33%">
          <strong>Status:</strong> {{item?.isCheckedOut}}
        </td>
        <td width="33%">
          <strong>Checked out to:</strong> {{item?.checkedOutTo}}
        </td>
        <td width="33%">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <strong>Activity:</strong>{{item?.activityLog}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
