.info-table{
  width: 100%;

  th{
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    color: var(--mat-sys-primary);
    text-align: left;
    display: flex;
    align-items: center;

    mat-icon{
      display: inline-flex;
    }
  }

  td{
    padding: 1rem;
  }
}

strong{
  display: block;
  margin-bottom: 0.25rem;
}
