<div
    class="task-row"
    [class.overdue]="isOverdue"
    role="button"
    tabindex="0"
    [attr.aria-label]="'View details for ' + task.title + (isOverdue ? ' (overdue)' : '')"
    (click)="open.emit(task)"
    (keydown.enter)="open.emit(task)"
    (keydown.space)="open.emit(task)"
  >
  <div class="task-row-main">
    <span class="task-row-title" [title]="task.title">{{ task.title }}</span>
    @if (task.related_item_name) {
      <span class="task-row-item">
        <mat-icon>inventory_2</mat-icon>
        {{ task.related_item_name }}
      </span>
    }
    @if (createdByLabel) {
      <span class="task-row-created-by">
        <mat-icon>person_outline</mat-icon>
        Created by {{ createdByLabel }}
      </span>
    }
    @if (pendingTransferToLabel) {
      <span class="transfer-pending-badge">
        <mat-icon>swap_horiz</mat-icon>
        Transfer pending to {{ pendingTransferToLabel }}
      </span>
    }
    @if (transferFromLabel) {
      <span class="transfer-pending-badge">
        <mat-icon>swap_horiz</mat-icon>
        Offered by {{ transferFromLabel }}
      </span>
    }
  </div>
  <span class="task-row-due">
    @if (task.due_date) {
      @if (isOverdue) {
        <mat-icon>error</mat-icon>
      }
      Due {{ task.due_date | date: 'M/d/yy' }}
    } @else {
      No due date
    }
  </span>
  <span class="status-badge" [class]="'status-' + task.status">
    {{ statusLabels[task.status] }}
  </span>
</div>
