<div class="dashboard-wrapper">
  <div class="container">
  <div class="row mb-5">
    <div class="col-12">
      <div class="toolbar-wrapper">
        <div class="breadcrumbs-wrapper">
          <nav class="breadcrumb-nav">
            @for (item of breadcrumbItems; track item; let last = $last) {
              @if (item.route) {
                <a [routerLink]="item.route" class="breadcrumb-link">
                  @if (item.icon) {
                    <mat-icon>{{ item.icon }}</mat-icon>
                  }
                  @if (item.label) {
                    <span class="font-semibold">{{ item.label }}</span>
                  }
                </a>
              } @else {
                <a [href]="item.url">
                  <span>{{ item.label }}</span>
                </a>
              }
              @if (!last) {
                <span class="breadcrumb-separator">/</span>
              }
            }
          </nav>
        </div>
        <div class="search-wrapper">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Search" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">
      <div class="filter-wrapper">
        <h3>
          Filter
        </h3>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title><mat-icon class="me-2">folder</mat-icon> Documents</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title><mat-icon class="me-2">description</mat-icon> Work</mat-panel-title>
                </mat-expansion-panel-header>
                @for (option of filterOptions; track option) {
                  <div>
                    <mat-checkbox
                      [checked]="selectedOptions.includes(option.value)"
                      (change)="toggleOption(option.value, $event.checked)">{{option.label}}</mat-checkbox>
                  </div>
                }
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title><mat-icon class="me-2">description</mat-icon> Home</mat-panel-title>
                </mat-expansion-panel-header>
                Content of Home
              </mat-expansion-panel>
            </mat-accordion>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title><mat-icon class="me-2">image</mat-icon> Pictures</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title><mat-icon class="me-2">photo_camera</mat-icon> Vacation</mat-panel-title>
                </mat-expansion-panel-header>
                Content of Vacation
              </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title><mat-icon class="me-2">photo_camera</mat-icon> Vacation</mat-panel-title>
                </mat-expansion-panel-header>
                Content of Vacation
              </mat-expansion-panel>
            </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-9">
      <div class="row">
        <div class="col-12">
          <div class="inventory-header-wrapper">
            <p>
              Displaying XXX of {{inventoryList?.length}} items
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row inventory-gallery-wrapper">
            @for (item of inventoryList; track item) {
              <div class="col-12 col-md-6 col-lg-4 inventory-card">
                <mat-card>
                  <img mat-card-image alt="Card" src="{{item.image}}" />
                  <mat-card-header>
                    <mat-card-title>{{item.name}}</mat-card-title>
                    <mat-card-subtitle>{{item.category}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p class="mb-0">
                      {{item.description}}
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <div class="d-flex gap-3">
                      <button mat-flat-button (click)="showDetails(item)">Details</button>
                    </div>
                  </mat-card-actions>
                </mat-card>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
