<div class="dashboard-wrapper">
  <div class="row mb-5">
    <div class="col-12">
      <div class="toolbar-wrapper">
        <div class="breadcrumbs-wrapper">
          <p-breadcrumb [model]="breadcrumbItems">
            <ng-template pTemplate="item" let-item>
              <ng-container *ngIf="item.route; else elseBlock">
                <a [routerLink]="item.route" class="p-menuitem-link">
                  <span [ngClass]="[item.icon ? item.icon : '']"></span>
                  <span class="font-semibold">{{ item.label }}</span>
                </a>
              </ng-container>
              <ng-template #elseBlock>
                <a [href]="item.url">
                  <span>{{ item.label }}</span>
                </a>
              </ng-template>
            </ng-template>
          </p-breadcrumb>
        </div>
        <div class="search-wrapper">
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Search" />
        </p-iconField>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3">
      <div class="filter-wrapper">
        <h3>
          Filter
        </h3>
        <p-accordion>
          <p-accordionTab>
            <ng-template pTemplate="header">
              <i class="pi pi-folder ms-1 me-2"></i> Documents
            </ng-template>
            <p-accordion>
              <p-accordionTab>
                <ng-template pTemplate="header">
                  <i class="pi pi-file ms-1 me-2"></i> Work
                </ng-template>
                <div *ngFor="let option of filterOptions">
                  <p-checkbox
                    name="category"
                    value="{{option.value}}"
                    [(ngModel)]="selectedOptions"
                    inputId="{{option.value}}"></p-checkbox>
                  <label for="{{option.value}}">{{option.label}}</label>
                </div>
              </p-accordionTab>
              <p-accordionTab>
                <ng-template pTemplate="header">
                  <i class="pi pi-file ms-1 me-2"></i> Home
                </ng-template>
                Content of Home
              </p-accordionTab>
            </p-accordion>
          </p-accordionTab>
          <p-accordionTab>
            <ng-template pTemplate="header">
              <i class="pi pi-image ms-1 me-2"></i> Pictures
            </ng-template>
            <p-accordion>
              <p-accordionTab>
                <ng-template pTemplate="header">
                  <i class="pi pi-camera ms-1 me-2"></i> Vacation
                </ng-template>
                Content of Vacation
              </p-accordionTab>
            </p-accordion>
            <p-accordion>
              <p-accordionTab>
                <ng-template pTemplate="header">
                  <i class="pi pi-camera ms-1 me-2"></i> Vacation
                </ng-template>
                Content of Vacation
              </p-accordionTab>
            </p-accordion>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-9">
      <div class="row">
        <div class="col-12">
          <div class="inventory-header-wrapper">
            <h2 class="mb-4">
              Inventory Gallery
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row inventory-gallery-wrapper">
            <div class="col-12 col-md-6 col-lg-4 inventory-card" *ngFor="let item of inventoryList">
              <p-card header="{{item.name}}" subheader="{{item.category}}">
                <ng-template pTemplate="header">
                  <img alt="Card" src="{{item.image}}" />
                </ng-template>
                <p class="mb-0">
                  {{item.description}}
                </p>
                <ng-template pTemplate="footer">
                  <div class="d-flex gap-3">
                    <!-- <p-button label="More details" severity="info" />
                    <p-button label="Details" severity="contrast" />-->
                    <p-button (onClick)="showDialog()" label="Details" />
                  </div>
                </ng-template>
              </p-card>
            </div>
            <p-dialog header="Item details" [modal]="true" [(visible)]="dialogShowing">
              <!-- <p-tabMenu [model]="tabList" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)" />
              <div *ngIf="activeItem?.label === 'Dashboard'">
                Dashboard Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eum voluptatibus consequuntur officia ipsum aperiam molestias eos quaerat illum, sequi, magnam culpa quia deserunt inventore dignissimos reiciendis ullam! Dolore, repellendus!
              </div>
              <div *ngIf="activeItem?.label === 'Transactions'">
                Transactions Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eum voluptatibus consequuntur officia ipsum aperiam molestias eos quaerat illum, sequi, magnam culpa quia deserunt inventore dignissimos reiciendis ullam! Dolore, repellendus!
              </div>
              <div *ngIf="activeItem?.label === 'Products'">
                Products Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eum voluptatibus consequuntur officia ipsum aperiam molestias eos quaerat illum, sequi, magnam culpa quia deserunt inventore dignissimos reiciendis ullam! Dolore, repellendus!
              </div>
              <div *ngIf="activeItem?.label === 'Messages'">
                Messages Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eum voluptatibus consequuntur officia ipsum aperiam molestias eos quaerat illum, sequi, magnam culpa quia deserunt inventore dignissimos reiciendis ullam! Dolore, repellendus!
              </div> -->
              <!-- <p>{{item.id}}</p>
              <p class="item-description">{{item.description}}</p>-->
              <p-table [value]="[{}]" styleClass="p-datatable-gridlines mb-4">
                <ng-template pTemplate="body">
                  <tr>
                    <th colspan="3">
                      <div>
                        <i class="pi pi-box me-2" style="font-size: 1.25rem"></i>
                        General information
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <td width="33%">
                      <strong>Category:</strong><br /> Folder
                    </td>
                    <td width="33%">
                      <strong>Applicable year:</strong><br /> 2024
                    </td>
                    <td width="33%">
                      <strong>Expiration date:</strong><br /> June 30th, 2025
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Physical location:</strong><br /> Lighty Room 204
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Digital location:</strong><br /> https://www.bing.com
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <p-table [value]="[{}]" styleClass="p-datatable-gridlines mb-4">
                <ng-template pTemplate="body">
                  <tr>
                    <th colspan="3">
                      <i class="pi pi-calculator me-2" style="font-size: 1.25rem"></i>
                      Quantity information
                    </th>
                  </tr>
                  <tr>
                    <td width="33%">
                      <strong>Total (# of items):</strong><br />3000
                    </td>
                    <td width="33%">
                      <strong>Allocated:</strong><br />2000
                    </td>
                    <td width="33%">
                      <strong>Reimaining:</strong><br />1000
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Items per container:</strong><br />500
                    </td>
                    <td>
                      <strong>Low quantity threshold:</strong><br />800
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <p-table [value]="[{}]" styleClass="p-datatable-gridlines mb-4">
                <ng-template pTemplate="body">
                  <tr>
                    <th colspan="3">
                      <i class="pi pi-shopping-cart me-2" style="font-size: 1.25rem"></i>
                      Supplier information
                    </th>
                  </tr>
                  <tr>
                    <td width="33%">
                      <strong>Name:</strong><br />James Bond LLC.
                    </td>
                    <td width="33%">
                      <strong>Lead time:</strong><br />14 days
                    </td>
                    <td width="33%">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <strong>Order link:</strong><br />https://www.jamesbondllcs.com/renew
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <p-table [value]="[{}]" styleClass="p-datatable-gridlines mb-4">
                <ng-template pTemplate="body">
                  <tr>
                    <th colspan="3">
                      <i class="pi pi-tag me-2" style="font-size: 1.25rem"></i>
                      Price information
                    </th>
                  </tr>
                  <tr>
                    <td width="33%">
                      <strong>Price per unit:</strong><br />$1.50
                    </td>
                    <td width="33%">
                      <strong>Price per container:</strong><br />$650
                    </td>
                    <td width="33%">&nbsp;</td>
                  </tr>
                </ng-template>
              </p-table>
              <p-table [value]="[{}]" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="body">
                  <tr>
                    <th colspan="3">
                      <i class="pi pi-info-circle me-2" style="font-size: 1.25rem"></i>
                      Other information
                    </th>
                  </tr>
                  <tr>
                    <td width="33%">
                      <strong>Status:</strong><br />Checked out
                    </td>
                    <td width="33%">
                      <strong>Checked out to:</strong><br />Amanda Poppins
                    </td>
                    <td width="33%">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <strong>Activity:</strong><br />
                      August 31, 2024: Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br />
                      July 23, 2024: Eligendi incidunt voluptatibus, adipisci nostrum nisi sapiente suscipit dicta saepe officia, temporibus, ullam rem iste sequi repudiandae!<br />
                      June 1, 2024: Vero in maxime ipsa voluptate.
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-dialog>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
